@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

/* Fonts Include */

@font-face {
     src: url("../fonts/Effra_Trial_Lt.ttf");
     font-family: "main";
}

/* Medium Fonts */

@font-face {
     src: url("../fonts/");
     font-family: "medium";
}

/* bold Fonts */

@font-face {
     src: url("../fonts/");
     font-family: "bold";
}

/* Fonts Include */

/* Start General */
html * {
     text-rendering: optimizeSpeed;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

* {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     font-family: "main", sans-serif;
     margin: 0;
     padding: 0;
}

:root {
     --main-color: #1A9AC4;
     --secondary-color: #3F3F3E;
     --font-family: "main", sans-serif;
     --trans: all 0.4s ease-in-out;
     --font-14: 14px;
     --font-16: 16px;
}

body {
     overflow-x: hidden;
     transition: var(--trans);
     direction: rtl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     font-family: "bold", "main", sans-serif;
}

a:hover,
a:focus,
a:active,
button:hover,
button:focus,
button:active,
div,
section,
span,
p,
div:hover,
section:hover,
span:hover,
p:hover {
     text-decoration: none;
     outline: none;
}

select,
input[type="checkbox"],
input[type="radio"],
select:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus {
     cursor: pointer;
}

.form-control:focus,
.btn:focus {
     box-shadow: none !important;
     border-color: transparent;
}

.has-fixed-top .main-header {
     padding-top: 100px;
}

.btn- {
     padding: 8px 30px !important;
     background-color: var(--secondary-color) !important;
     border-color: var(--secondary-color) !important;
     color: #FFF !important;
     border-radius: 25px;
     font-family: 'medium', 'main', sans-serif;
     font-size: 20px;
}

.default-img {
     background-image: url(../images/default.png);
     background-color: #F8FAFB;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.cover-image {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

picture {
     display: block;
}

.sec-padding {
     padding: 50px 0;
}

/* Start General */
.top-bar{
     background-color: rgba(0, 0, 0, 0.9);
}
.nav-link {
     display: block;
     padding: 7px 10px;
     color:  rgba(202, 202, 202, 1);
     text-decoration: none;
     transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
 }
 .nav-link:hover {
   color: rgba(195, 153, 58, 1);
 }
.navbar{
     background-color: rgba(0, 0, 0, 1) !important;
}
.btn-palm{
     background-color: rgba(195, 153, 58, 1);
     border-radius: 25.7411px;
     padding: 5px 25px;
     font-size: 14px;
     color: white;
}
.btn-palm:hover{
     background-color: rgba(195, 153, 58, 1);
     color: white;
}
.dropdown a{
     font-size: 15px;
}
.btn-nav{
     border: 0.79px solid rgba(195, 153, 58, 1);
     color: rgba(195, 153, 58, 1);
     border-radius: 25.7411px;
    width: 100%;
}
.btn-nav:hover{
     color: white;
     background-color: rgba(195, 153, 58, 1);
    
}
.navbar .btn-palm{
     display: none;
}
.navbar-expand-lg .navbar-nav .nav-link {
     padding-right: 0.5rem;
     padding-left: 0.5rem;
     color: white;
}

.dropdown-menu li:not(:last-child) a.dropdown-item {
     border-bottom: 1px solid #F0F0F0;
 }
 .dropdown-menu a.dropdown-item.active {
     color: var(--main-color) !important;
     background-color: transparent !important;
 }
.card{
     border-radius: 15px;
}
.articles h5{
     font-size: 16px;
     color: black;
     font-weight: bold;
}
.articles .card-text{
     font-size: 15px;
}
.articles .card-text2{
     font-size: 16px;
     color: rgba(195, 153, 58, 1);
}
.articles .card-text2 i{
     font-size: 10px;
}

.nav-pills .btn-articles.active{
     background-color: rgba(195, 153, 58, 1);
    color: white;
    border: 1px solid rgba(244, 244, 244, 1);
    border-radius: 15px;
    width: 100%;
}
.nav-pills .nav-link{
     background-color: white;
    color: black;
    border: 1px solid rgba(244, 244, 244, 1);
    border-radius: 15px;
    width: 100%;
}
.w-16{
     width: 15%;
     margin-left: 18px;
}
.articles .breadcrumb-item.breadcrumb-item::before {
     float: right;
     color: rgba(130, 130, 130, 1);
     margin-left: 10px;
}
.articles .breadcrumb li a{
     color: rgba(130, 130, 130, 1);
     text-decoration: none;
} 
.articles .breadcrumb a:hover{
     color: rgba(130, 130, 130, 1);
     text-decoration: none;
} 

/* index2 */
.new-header{
     background-image: url(../images/header.png);
     background-color: #F8FAFB;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 687px;
}
.breadcrumb-item.breadcrumb-item::before {
     float: right;
     color: white;
     margin-left: 10px;
}
.new-header .breadcrumb li,a{
     color: white;
     text-decoration: none;
} 
.new-header .breadcrumb a:hover{
     color: white;
     text-decoration: none;
} 
.new-header h6{
     font-size: 24px;
}
.new-header h5{
     font-size: 18px;
}
.wh-30{
     width: 30px;
     height: 30px;
}
.long-text .pargrah{
     border-radius: 15px;
     margin-top: -12%;
     margin-bottom: 3%;
}
.long-text .pargrah2{
     border-radius: 15px;
}
.wh-100{
     width: 100px;
     height: 100px;
}
.pargrah2 h5{
     font-weight: bold;
     color: rgba(195, 153, 58, 1);
     font-size: 22px;
}
.pargrah2 p{
     font-size: 21px;
}
.carded h2{
     font-size: 28px;
     color: rgba(195, 153, 58, 1);
     font-weight: bold;
}
.carded h5{
     font-size: 16px;
     color: black;
     font-weight: bold;
}
.carded .card-text{
     font-size: 15px;
}
.carded .card-text2{
     font-size: 16px;
     color: rgba(195, 153, 58, 1);
}
.carded .card-text2 i{
     font-size: 10px;
}

/* index2 */
/* Media for responsive */
@media (min-width: 1440px) {
     .container {
          max-width: 1430px;
     }
}

@media (max-width: 1440px) {}

@media (min-width: 1440px) and (max-width: 1465px) {}

@media (min-width: 1465px) and (max-width: 1565px) {}

@media (min-width: 1465px) and (max-width: 1665px) {}

@media (min-width: 1440px) and (max-width: 1750px) {}

@media (min-width: 1300px) and (max-width: 1375px) {}

@media (min-width: 1200px) and (max-width: 1300px) {}

@media (max-width: 1200px) {}

@media (max-width: 991px) {}

@media (max-width: 768px) {
     nav{
          text-align: center;          
     }
     .btn-nav{
          width: 100%;
     }
     .top-bar .btn-palm{
          display: none;
     }
     .navbar .btn-palm{
          display: block;
     }
     .new-header{
          text-align: center;
     }
     .shark{
          text-align: center !important;
          margin-top: 20px;
     }
     
     .w-16{
          width: 42%;
          margin-bottom: 5px;
     }
     .articles li button{
          font-size: 14px;
     }
     .pargrah2 h5{
          font-size: 18px;
     }
     .pargrah2 p{
          font-size: 17px;
     }
     
     
}

@media (max-width: 576px) {}

@media (max-width: 480px) {}

/* Media for responsive */